body{
    background-color: white;
}

.jumbotron{
    margin-top: 15%;
}

div {
    margin-top: 15%;
}

p {
    padding: 10px;
}
.answer:hover{
    background-color: aquamarine;
}

.questWindow{
    margin: 0 auto;
    margin-top: 200px;
    width: 70%;
    height: 300px;
    background-color: beige;
}